*.o
*.so
*.beam
ebin/

.DS_Store


priv/couch_ejson_compare/couch_ejson_compare.d
priv/couch_js/config.h
priv/couch_js/http.d
priv/couchjs
priv/couchspawnkillable
priv/icu_driver/couch_icu_driver.d
priv/*.exp
priv/*.lib
vc120.pdb

test/engines/coverage/
test/engines/data/
test/engines/etc/
test/engines/log/

.rebar/
.eunit
